.order {
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.order h3 {
  margin-bottom: 20px;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-item {
  display: flex;
  gap: 20px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  align-items: flex-start;
}

.order-item img {
  width: 50px;
  height: 50px;
}

.order-item div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.order-item-food {
  font-weight: bold;
}

.order-item-name {
  color: #333;
}

.order-item-address p, .order-item-phone {
  margin: 0;
  font-size: 14px;
}

select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  margin-top: 10px;
}
